{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('bootstrap-datepicker/css/datepicker3.css') }}"  rel="stylesheet" media="screen">
{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="col-lg-3">
            <div class="alert-info" id="calendar"></div>
            <div class="jumbotron">
                {% if days > 0 %}
                <h1>
                    <span class="label label-primary">
                        第 <span id="days">{{ days }}</span> 天
                    </span>
                </h1>
                {% else %}
                    <h2><span class="label label-danger">宝宝还没出生呢！！</span></h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js') }}" charset="UTF-8"></script>
    <script type="application/javascript">
        var calendar = $("#calendar").datepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            weekStart: 0,
            startDate: '{{ birthday }}'
        }).on('changeDate', function(e) {
            var selectedDate = e.date;
            var birthday = new Date('{{ birthday }}');
            var seconds = selectedDate.getTime() - birthday.getTime();
            var days = parseInt(Math.ceil(seconds / 24 / 3600 / 1000));
            $('#days').text(days);
        });
    </script>
{% endblock %}