{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('bootstrap-datepicker/css/datepicker3.css') }}"  rel="stylesheet" media="screen">
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
    <div class="row-fluid">
        <div class="col-lg-3">
            <div class="well well-sm" id="calendar"></div>
            <div class="well well-sm">
                <img src="{{ asset('apple-touch-icon.png') }}" class="img-responsive">
            </div>
        </div>

        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row-fluid">
                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label" for="exampleInputEmail1">{{ form_label(form.weight) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.weight, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label" for="exampleInputEmail1">{{ form_label(form.height) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.height, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label" for="exampleInputEmail1">{{ form_label(form.temperature_morning) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.temperature_morning, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label" for="exampleInputEmail1">{{ form_label(form.temperature_evening) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.temperature_evening, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label" for="exampleInputEmail1">{{ form_label(form.is_bath) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.is_bath, {'attr': {'class': 'checkbox'}}) }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-lg-3 control-label" for="exampleInputEmail1">{{ form_label(form.is_stroke) }}</label>
                            <div class="col-lg-9">
                                {{ form_widget(form.is_stroke, {'attr': {'class': 'checkbox'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js') }}" charset="UTF-8"></script>
    <script type="application/javascript">
        var calendar = $("#calendar").datepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            weekStart: 0,
            startDate: '{{ birthday }}'
        }).on('changeDate', function(e) {
            var selectedDate = e.date;
            var birthday = new Date('{{ birthday }}');
            var seconds = selectedDate.getTime() - birthday.getTime();
            var days = parseInt(Math.ceil(seconds / 24 / 3600 / 1000));
            $('#days').text(days);
        });
    </script>
{% endblock %}